@import '../variables.scss';

.benefits { @include space-between; gap: 20px; margin-bottom: 115px;
  &__item { flex: 1; @include space-between; position: relative;
    min-height: 290px; background-color: $light; background-image: url(../static/images/union-small.png);
    background-position: left bottom; background-repeat: no-repeat;
  }

  &__title { padding: 0 0 25px 25px; font-size: 1.15rem; font-weight: 600; text-transform: uppercase; }
  &__label { font-size: 1.5rem; color: $white; padding: 0 20px; max-width: 190px; @include align-center;
    position: absolute; bottom: 40px; left: 0;
    &_blue { background-color: $dark-blue; }
    &_red { background-color: $coral; }
    &_orange { background-color: $peach; }
  }
  &__discount { font-size: 2.25rem; }
}