@import '../variables.scss';

.button { @include reset-border; font-weight: 500; font-size: 0.87rem; padding: 20px 55px;
  &__primary { background-color: $main; color: $white;
    &:hover { background-color: $dark; }
    &:active { background-color: $black; }
  }

  &__secondary { background-color: $white; color: $main; border: 1px solid $main;
    &:hover { background-color: $main; color: $white; }
    &:active { background-color: $black; color: $white; }
  }
}