@import '../variables.scss';

.card { max-width: 310px; padding: 25px; cursor: pointer; position: relative; transition: all 0.125s ease;
  &__poster { overflow: hidden;  margin-bottom: 35px; width: 100%;
    & .swiper-slide { @include center; }
  }
  &__image { transition: all 0.3s ease-in; }
  &__price { @include space-between; margin-bottom: 15px; }
  &__currentprice { font-size: 1.12rem; font-weight: 600; }
  &__oldprice { @include  old-price; font-size: 0.87rem; }
  &__description { font-size: 0.87rem; margin-bottom: 20px; }
  & .swiper-pagination { bottom: 0; }
  &__sale-mark { position: absolute; top: 16px; left: 24px; z-index: 10; }
  &__actions { position: absolute; top: 16px; right: 24px; z-index: 10; @include center; flex-direction: column; gap: 10px; }
  &__icon {
    &:hover { background-color: $dusty-gray; }
    &.icon__heart-fill:active { background-color: $coral; }
  }

  &__dropdown { background-color: $gallery; padding: 10px 15px; margin-top: 8px;
    & .dropdown__target { justify-content: space-between; }
    & .dropdown-menu  { width: 100%; }
  }

  &__bottom-actions { height: auto; max-height: 0; transition: all 0.3s ease; overflow: hidden; }

  &:hover { box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    .card__bottom-actions { max-height: 250px; overflow: visible; }
  }
}