@import '../variables.scss';

.categories { margin-bottom: 115px;
  &__title { margin-bottom: 40px; }
  &__list { @include space-between; gap: 20px; }
  &__item { background-color: $light; min-height: 260px; min-width: 200px; padding: 0 15px; flex-direction: column;
    cursor: pointer; gap: 30px; @include center;

    &-poster { @include center; height: 150px; }
    &-title { text-align: center; }
    &-image { transition: all 0.35s ease-in; }

    &:hover .categories__item-image { transform: scale(1.2); }
  }
}