@import '../variables.scss';

.mark { font-size: 0.8rem; padding: 2px 10px; border-radius: 15px;
  &_accent { background-color: $accent; color: $white; }
  &_blue { background-color: $blue; color: $white; }
  &_dark { background-color: $trout; color: $white; }
  &_orange { background-color: $peach; color: $white; }
}