@import '../variables.scss';

.tabs { overflow: hidden;
  &__content { animation: fadeEffect 1s; }
  &__link { border-radius: 21px; background-color: $gallery; font-size: 0.87rem; padding: 10px 30px; @include reset-border; margin-right: 5px;
    &:hover { background-color: $easy-alto; }
    &:active, &_active { background-color: $main; color: $white; }
  }

  @media (max-width: $mobile) {
    &__link { margin: 0 12px 12px 0; }
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}