// colors
$main: #303030;
$dark: #505050;
$background: #f5f5f5;
$gray: #909090;
$accent: #E46942;
$light: #F8F8F8;
$light-active: #E8E7E7;
$white: #ffffff;
$blue: #5B8A8F;
$dark-blue: #43807F;
$light-gray: #8F8F8F;
$dusty-gray: #979797;
$coral: #E24B33;
$peach: #E1A661;
$gallery: #F0F0F0;
$silver: #C9C9C9;
$trout: #495159;
$alto: #D0D0D0;
$middle-alto: #DADADA;
$easy-alto: #DDDDDD;
$light-alto: #D9D9D9;
$sand: #F1CB7E;
$jaffa: #EA8C48;
$apple: #A7E492;

// displays
$tablet: 1024px;
$mobile: 768px;

// fonts
$font: 16px;